
@{
    ViewBag.Title = "Main";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<head>
	<link href="~/css/Main.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
            
    <div class="lable-page">
                
        <p>Device</p>
            
    </div>

	<div class="main-content">

		<table class="main-table">

			<thead>
				<tr>

					<th>Имя девайса</th>
					<th>Актуальный плэйлист</th>
					<th>Местоположение</th>
					<th>Изменить</th>
				</tr>

			</thead>

			<tbody>
				<tr>
					<td>Toshiba</td>
					<td>No pain, no gain!</td>
					<td>Krasnodar</td>
					<td>Изменить</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
