<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true">

 
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class = "menu" > GymSite</div>
    </div>
    <div class="container">

        <div class = "sidebar">
            <div class="person-cab">
                <p>Ваш логин: </p>
                <p class="login-p">asdasd</p>
            </div>
            <a class = "menu-button" href ="">My Device</a>
            <a class="menu-button" href="/Web/PlayLists/Face">>My Playlist</a>
            <a class="menu-button" href="/Web/Download/DownloadFace">>Download Files</a>
        </div>
        <div class = "content" id="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="foter-content">all right protected</div>
    </div>
</body>
</html>