@{
	ViewBag.Title = "DevicesFace";
	Layout = "/Views/Shared/_Layout.cshtml";
}
@model List<API.DAL.Entity.ResponceModels.DeviceResponce>;
<div class="lable-page">

	<p>Device</p>
	<input placeholder="Поиск по имени" type="text" class="common-elastic" id="common-elastic">
</div>
<head>
	<link href="~/css/Main.css" rel="stylesheet" asp-append-version="true" />
	<script src="~/js/DE/DeviceFace-Modal.js" defer> </script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
	<script src="~/js/DE/DeviceFace-Send-Ajax.js" defer> </script>
	<script src="~/js/DE/DeviceFace-Delete-Ajax.js" defer> </script>
</head>

<div class="main-content" id="main-content">

	<table class="main-table">

		<thead>
			<tr>				
				<th>Имя девайса</th>
				<th>Местоположение</th>
				<th>Изменить</th>	
				<th>Удалить</th>
			</tr>
		</thead>		
		<tbody>
			@if (Model != null)
			{
				foreach(var device in Model)
				{
					<tr>
				        <td id="item">@device.name</td>
				        <td>@device.address</td>				        
				        <td>
							<a href="/Web/Devices/DevicesEdit/?Id=@device.id">Изменить</a>
					    </td>
						<td><button id="del" value="@device.id">Удалить</button></td>
			       </tr>				
				}			
			}			
		</tbody>
	</table>
</div>

<div class="added-Content">
	<button id="btn" class="btn" data-path="one">New device</button>
</div>
<div class="modal-overlay" id="modal-overlay">
<div class="modal-create-divece" id="modal">
	<div>
		<h3>Меню создания девайса</h3>
	</div>
	<div class="inputs">
		<label for="name">Название:</label>
		<input id="name" type="text" placeholder="Введите название девайса">
	</div>
	<div class="inputs">
		<label for="address">Адресс:</label>
		<input id="address" name="address" type="text" placeholder="Введите Адресс девайса">
	</div>
	<div class="send-create">
		<button id="send">Send</button>
	</div>
</div>
</div>