
.added-Content {
    margin-top: 20px;
    text-align: center;
   
}
.btn {
    border: none;
    cursor: pointer;
    background-color: greenyellow;
    border-radius: 25px;
    width: 250px;
    height: 55px;
}

.modal-overlay {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
   
}

.modal-window {
    background-color: white;
    width: 30%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}

.window-title {
    text-align: center;
}
.lable-page {
    >p

{
    text-align: center;
    margin: 0;
}

}

table,
td {
    border: 1px solid #333;
}

.main-content {
    justify-content: center;
}

.main-table {
    width: 100%;
    justify-content: center;
    padding: 100px 250px;
    >tbody

{
    >tr

{
    >td

{
    background-color: #333;
    color: #fff;
}

}
}

> thead {
    >tr

{
    >th

{
    border: 1px solid #333;
}

}
}
}
.message-state-1 {
    text-align: center;
    right: 0px;
    position: fixed;
    background-color: brown;
    width: auto;
    height: auto;
    opacity: 1;
    transition: 5s;
    >p

{
    margin: 0;
}

}

.message-state-2 {
    text-align: center;
    right: 0px;
    position: fixed;
    background-color: brown;
    width: auto;
    height: auto;
    opacity: 0;
    transition: 5s;
    >p

{
    margin: 0;
}
}
.loading {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    color: aliceblue;
    transition: all 0.3s ease-in-out;
}
.bar {
    position: relative;
    background-color: black;
    width: 700px;
    height: 30px;
    border-radius: 25px;
}

.progress {
    border-radius: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 99%;
    background-color: white;
    height: 25px;
    width: 100%;
    text-align: center;
    >p

{
    color: black;
    margin: auto;
    margin-top: 3px;
}
}
