.lable-page {
    >p

{
    text-align: center;
    margin: 0;
}

}

table,
td {
    border: 1px solid #333;
}

.main-content {
    justify-content: center;
}

.main-table {
    width: 100%;
    justify-content: center;
    padding: 100px 250px;
    >tbody

{
    >tr

{
    >td

{
    background-color: #333;
    color: #fff;
}

}
}

> thead {
    >tr

{
    >th

{
    border: 1px solid #333;
}

}
}
}
